<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mot de Passe oubli&eacute;</title>
</head>
<body>
	<p>
       Bonjour <strong th:text="${nom}"></strong>, <strong th:text="${prenom}"></strong>
	</p>
	<p>
    Prière d'entrer votre email et votre mot de passe par defaut : <strong th:text="${password}"></strong>, pour changer
    votre mot de passe en cliquant ou en copiant ce lien : http://localhost:4200/user/reset-password
    
	</p>

	<p>@Copyright : <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span></p>
	
</body>
</html>